---
layout: default
title: API Evangelist - Tag Cloud for APIStrat
---

<!-- Main -->
{% assign home_content = site.data.home_content.index[0] %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ home_content.title }}</h2>
		</header>
		{{ home_content.content }}
	</div>
	<span class="image object">
		<img src="{{ home_content.image }}" alt="" width="25%" />
	</span>
</section>

<!-- Partners -->
<a name="Partners"></a>
<section>
	<header>
		<h2>API Evangelist Partners</h2>
		<p>These are my partners who invest in API Evangelist each month, helping underwrite my research, and making sure I'm able to keep monitoring the API space as I do.</p>
	</header>
	<div class="features">
		{% assign partners = site.data.partners.index | sort: 'view_sort' %}
    {% for partner in partners %}
      {% if partner.type == 'Sponsor' %}
			<article>
				<p><a href="{{ partner.url }}" target="_blank"><img src="{{ partner.image }}" width="75%" style="padding: 15px;" align="center" /></a></p>
				<div class="content">
					<h3><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></h3>
					<p>{{ partner.description }}</p>
				</div>
			</article>
      {% endif %}
    {% endfor %}
	</div>
</section>

<!-- News -->
<a name="News"></a>
{% assign words = site.data.curated.index %}
{% assign words = words | sort: 'count' | reverse %}
<section>
	<header>
		<h2>Word Count</h2>
	</header>
	<div class="table-wrapper" style="height: 500px; overflow: auto;">
		<table class="alt">
			<tbody>
				{% for word in words %}
					<tr>
						<td width="90%">{{ word.word }}</td>
						<td width="10%" align="center">{{ word.count }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>

<!-- About This Research -->
{% assign about_content = site.data.home_content.index[1] %}
<a name="About"></a>
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ about_content.title }}</h2>
		</header>
		{{ about_content.content }}
	</div>
	<span class="image object">
		<img src="{{ about_content.image }}" alt="" width="25%" />
	</span>
</section>
